{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<style>
    h1 {text-align: center;}

</style>
<body>
    <h1>TEAM MEMBERS</h1>
</body>
<figure class="figure">
    <img src="/static/team_1.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption"><h2>2100032312-Annavarapu Hemanth kumar</h2></figcaption>
</figure>
<br>
<figure class="figure">
    <img src="/static/team_22.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption"><h2>2100030373-Naval Didharia</figcaption>
</figure>
<br>
<figure class="figure">
    <img src="/static/team_3.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption"><h2>2100030178-Gorantla Yathin Sai Teja</h2></figcaption>
</figure>

{% endblock body %}

